<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>cvPath</param-name>
        <param-value>E:\\T&amp;P Portal File System\\</param-value>
    </context-param>
    <!--<servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>com.tnp.servlets.LoginManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileManager</servlet-name>
        <servlet-class>com.tnp.servlets.ProfileManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPDF</servlet-name>
        <servlet-class>com.tnp.servlets.GetPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrator</servlet-name>
        <servlet-class>com.tnp.db.Administrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>com.tnp.servlets.DBManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileManager</servlet-name>
        <url-pattern>/ProfileManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPDF</servlet-name>
        <url-pattern>/GetPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/Administrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--<resource-ref>
        <res-ref-name>jdbc/OFFICENGDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
</web-app>
